html, body, md-content {
	
}

.photo {
  display: block;
  width: 150px;
  height: 150px;
  margin-right:24px; 
  border-radius:2px;
  object-fit: cover;
  background-color: #999999;
}

.grey-background, .grey-background .md-sidemenu-toggle, .grey-background .md-sidemenu-button,
	.grey-background .md-sidemenu-wrapper, .grey-background md-content,
	.grey-background md-toolbar {
	background-color: #efefef;
}

.grey-background md-toolbar {
	color: black
}

md-card.right-shadow, md-whiteframe.right-shadow, td.right_shadow {
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .2), 1px 2px 1px 0
		rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
}

md-card.no-shadow {
	box-shadow: none;
}

th.centered {
	text-align: center !important;
}

.warn-level-0 {
	background-color: #009688;
}

.warn-level-1 {
	background-color: #FFEB3B;
}

.warn-level-2 {
	background-color: #F44336;
}

table.bordered th:not (:first-child ), table.bordered td:not (:first-child
	), .force-border-left {
	border-left: 1px rgba(0, 0, 0, 0.12) solid;
}

.border-right {
	border-right: 1px rgba(0, 0, 0, 0.12) solid;
}

.border-top {
	border-top: 1px rgba(0, 0, 0, 0.12) solid;
}

table.bordered.md-table:not (.md-row-select ) td.md-cell:nth-child(n+2):nth-last-child(n+1),
	table.bordered.md-table:not (.md-row-select ) th.md-column:nth-child(n+2):nth-last-child(n+1)
	{
	padding: 0 24px;
}

md-tabs md-tabs-wrapper {
	background-color: #009688;
	background-color: rgb(233, 30, 99);
	background-color: rgb(121, 85, 72);
	background-color: rgb(63, 81, 181);
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0
		rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active,
	md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon,
	md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused,
	md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon
	{
	color: #FFFFFF;
}

md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
	color: rgba(255, 255, 255, 0.5);
}

h5.compact, md-input-container.compact {
	margin: 0;
}

md-input-container.compact .md-errors-spacer {
	display: none;
}

md-input-container.no-error .md-errors-spacer, md-autocomplete.no-error .md-errors-spacer, md-autocomplete.no-errorx .md-errors-spacer {
	display: none;
}

md-autocomplete.no-error md-progress-linear {
	bottom: -2px !important;
}

md-autocomplete.no-errorx md-progress-linear {
	bottom: 15px !important;
}

.tabroute md-tab-item {
	padding: 0;
}

a.tab {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none !important;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	overflow: hidden;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1) 0s;
	white-space: nowrap;
}

.md-active a.tab {
	color: white;
}

tr.selectable, td.selectable, md-whiteframe.selectable>div,
	md-card-content.selectable>div, .selectable-direct {
	transition: background 0.15s linear 0s;
	cursor: pointer;
}

tr.selectable:hover, td.selectable:hover {
	background: rgba(238, 238, 238, 1) none repeat scroll 0 0;
}

md-whiteframe.selectable:hover>div, md-card-content.selectable:hover>div,
	.selectable-direct:hover {
	background: rgba(0, 0, 0, 0.075) none repeat scroll 0 0;
}

.selectable-direct, .selectable-direct:hover, .selectable-direct:active,
	.selectable-direct:visited, .selectable-direct:focus {
	text-decoration: none;
}

.ha-small md-input-container {
	padding-bottom: 2px !important;
	width: 99% !important;
}

a.buttonlink {
	color: inherit;
	text-decoration: none;
}

.text-danger {
	color: #f44336 !important;
}

.nobordertop, table.nobordertop td {
	border-top: 0 !important;
}

.add-border-bottom {
	border-bottom: 2px rgba(0, 0, 0, 0.12) solid !important;
}

table.headborderbottom th {
	border-bottom: 2px rgba(0, 0, 0, 0.12) solid !important;
}

.nopadding {
	padding: 0 !important;
}

.subtable {
	padding: 0 !important;
}

.subtable table {
	width: 100%;
}

.subtable td {
	border-top: 0 !important;
}

td.right {
	text-align: right !important;
}

table.md-table.slim tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row
	{
	height: auto;
}

table.md-table.superslim tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row,
	table.md-table.superslim table.md-table thead.md-head>tr.md-row, table.md-table.superslim thead.md-head>tr.md-row
	{
	height: auto;
	width: auto;
}

table.md-table.superslim md-switch, table.md-table.superslim .md-button
	{
	margin: 0;
}

table.superslim.md-table td.md-cell, table.superslim.md-table th.md-column,
	table.superslim.md-table table.md-table th.md-column {
	padding-top: 0px !important;
	padding-bottom: 2px !important;
	padding-right: 10px !important;
	height: 36px;
}

table.superslim.md-table:not (.md-row-select ) td.md-cell:nth-child(n+2):nth-last-child(n+2),
	table.superslim.md-table td.md-cell:last-child {
	border-left: 1px solid rgba(0, 0, 0, 0.12);
}

table.nomaster th md-checkbox {
	display: none;
}

md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
	background-color: #e8eaf6;
	color: #3949ab;
	font-size: 16px;
}

div.md-toolbar-tools-title {
	background-color: #ab3939;
	margin-bottom: 10px;
}

div.md-toolbar-tools-filter {
	background-color: #63ab39;
	margin-bottom: 10px;
}

.slim md-input-container {
	margin: 0;
}

.severity.URGENT {
	background-color: #ffcdd2;
}

.severity.HIGH {
	background-color: #ffecb3;
}

.severity.NORMAL {
	background-color: #b3e5fc;
}

.severity.LOW {
	background-color: #c8e6c9;
}

input.upload {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color: rgb(63, 81, 181);
	color: rgba(255, 255, 255, 0.87);
	-moz-user-select: none;
	    align-items: center;
	    border: 0 none;
	    border-radius: 3px;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: inline-block;
	    font-family: inherit;
	    font-size: 14px;
	    font-style: inherit;
	    font-variant: inherit;
	    font-weight: 500;
	    line-height: 36px;
	    margin: 6px 8px;
	    min-height: 36px;
	    min-width: 88px;
	    outline: 0 none;
	    overflow: hidden;
	    padding: 0 6px;
	    position: relative;
	    text-align: center;
	    text-decoration: none;
	    text-transform: uppercase;
	    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s,
		background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
	    white-space: nowrap;
	letter-spacing: 0.01em;
}

md-input-container.noerror div {
	display: none;
}

.md-toast-content {
	z-index: 999999;
}

md-autocomplete.no-error md-input-container {
	width: 100%;
	margin: 0;
}

td.header {
	color: rgba(0, 0, 0, 0.54) !important;
	font-size: 12px !important;
	font-weight: bold;
	white-space: nowrap;
}

table.fixed>tbody>tr>td.fixed-15, table.fixed>thead>tr>th.fixed-15 {
	width: 15%;
}

table.fixed>tbody>tr>td.fixed-30, table.fixed>thead>tr>th.fixed-30 {
	width: 30%;
}

.selectdemoSelectHeader {
	/* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
	
}

.selectdemoSelectHeader .demo-header-searchbox {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0
		0 0 0 rgba(0, 0, 0, 0.12);
	padding-left: 10.667px;
	height: 48px;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	width: auto;
}

.selectdemoSelectHeader md-content._md {
	max-height: 240px;
}

.rz-footer {
	border-top: 1px rgba(0, 0, 0, 0.12) solid;
	color: rgba(0, 0, 0, 0.87);
	font-size: 13px;
	padding: 24px;
	font-style: italic;
}

.md-datepicker-input-mask {
	display: none;
}

.noline .tick line {
	display: none;
}

.md-button.md-raised.with-arrow {
	padding-right: 30px;
	padding-left: 12px;
}

.md-button.md-raised.no-arrow {
	padding-right: 12px;
	padding-left: 12px;
}

.md-button.md-raised.arrow {
	min-width: 30px;
	padding: 0px;
	box-shadow: none;
	margin-left: -38px;
}

.text-inside-donut {
	position: relative;
	top: -200px;
	height: 0;
	font-size: 50px;
	text-align: center;
	font-weight: bolder;
}

.line-point g.nv-scatter g.nv-series-2 path.nv-point,
.line-point g.nv-scatter g.nv-series-3 path.nv-point{
	fill-opacity: 1 !important;
	stroke-opacity: 1 !important;
	stroke-width: 7px;
}

.line-point g.nv-series-1 path.nv-line,
.line-point g.nv-series-2 path.nv-line,
.line-point g.nv-series-3 path.nv-line{
	stroke-opacity: 0 !important;
}

.logo {
     display: inline-block;
     width: 45px;
     height: 25px;
     vertical-align: middle;
     margin-right: 5px;
     position: relative;
}
.logo .l {
     width: 11px;
     height: 11px;
     border-radius: 50%;
     background-color: rgb(33,150,243);
     position: absolute;
}
.logo .l.l1 {
     bottom: 0;
     left: 0;
}
.logo .l.l2 {
     width: 7px;
     height: 7px;
     bottom: 10px;
     left: 10px;
}
.logo .l.l3 {
     width: 7px;
     height: 7px;
     bottom: 13px;
     left: 17px;
}
.logo .l.l4 {
     bottom: 13px;
     left: 25px;
}
 .logo .l.l5 {
     bottom: 7px;
     left: 34px;
}

md-input-container.white md-select-value {
border-bottom-color:white;
}

md-input-container.white .md-text, md-input-container.white .md-select-icon {
color:white;
}

.hidden {
	visibility: hidden;
}
